/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/

:root {
  --color-background: #0f0e0e;
  --color-text: #eeeeee;
  --color-accent: #baeb19;
  --colorreverse-accent: #f11b5f;

  --font-family-base: system-ui, Arial, Helvetica, sans-serif;

  --font-display-var:"redaction-70", sans-serif;
  --font-display-weight:700;
  --font-display-style:normal;

  --font-subtitle-var:"redaction-35", sans-serif;
  --font-subtitle-weight:400;
  --font-subtitle-style:italic;

  --font-indice-var:"redaction", sans-serif;
  --font-indice-weight-1:700;
    --font-indice-weight-2:400;
  --font-indice-style:normal;

  --font-size-body: 1rem;
  --font-size-h1: 30rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.25rem;
  --font-size-subtitle: 6.5rem;
  --font-size-indice-titulo: 2rem;
  --font-size-indice: 1.25rem;
}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

* {
  box-sizing: border-box;
  /*
    Regla temporal para visualizar las cajas.
    Puede eliminarse cuando ya no sea necesaria.
  */
  outline: 0px solid;
}


/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.
*/
body {
  margin: 2rem;

  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
*/

.home-page h1 {
  font-family: var(--font-display-var);
  font-weight: var(--font-display-weight);
  font-style: var(--font-display-style);
  font-size: var(--font-size-h1);
  letter-spacing: 3rem;
  margin-bottom: -10rem;
}


h3 {
  font-size: var(--font-size-h3);
}


/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--colorreverse-accent);
  text-decoration: non;
}
/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 1rem;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/

header,
main,
.home-page header p {
  font-family: var(--font-subtitle-var);
  font-weight: var(--font-subtitle-weight);
  font-style: var(--font-subtitle-style);
  font-size: var(--font-size-subtitle);
}

h2 {
  font-family: var(--font-indice-var);
  font-weight: var(--font-indice-weight-1);
  font-style: var(--font-indice-style);
  font-size: var(--font-size-indice-titulo);
}

.lista-indice {
  list-style: none;
  padding-left: 0;
  font-family: var(--font-indice-var);
  font-size: var(--font-size-indice);
  font-weight: var(--font-indice-weight-2);
  font-style: var(--font-indice-style);
  font-size: var(--font-size-indice);
}

footer {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

nav a {
  margin-right: 1rem;
}
