/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/

:root {
  --color-background: #0f0e0e;
  --color-text: #f1f1f1;
  --color-accent: #baeb19;
  --color-hover: #f11b5f;
  --font-family-base: "input-serif", system-ui, Arial, Helvetica, sans-serif;
  
  --font-display-var: "redaction-70", sans-serif;
  --font-display-weight: 700
  --font-display-style: normal;

  --font-subtitle-var:"redaction-35", sans-serif;
  --font-subtitle-weight:400;
  --font-subtitle-style-italic:italic;
  --font-subtitle-style-normal:normal;
  
  --font-text-var: "redaction-20", serif;
  --font-text-weight: 400;
  --font-text-style: normal;
  
  --font-size-body: 5vw;
  --font-size-h1: 27vw;
  --font-size-h2: 2rem;
  --font-size-h3: 1.25rem;
  --font-size-text: 1.5rem;
  --font-size-sub: 6rem;
  --font-size-ind: 3rem;
  --font-size-ind-t: 5.5rem;
}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

* {
  box-sizing: border-box;
}


/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.
*/
body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
*/
header#main-header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px;
}
header#main-header a {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  color: var(--color-accent);
}


.titulo + p {
  margin: 0;
  font-size: 6vw;
  line-height: 1em;
}

.home-page h1 {
  font-family: var(--font-display-var);
  font-weight: var(--font-display-weight);
  font-style: var(--font-display-style);
  font-size: var(--font-size-h1);
  letter-spacing: 3rem;
  margin-bottom: -9rem;
}

.titulo{
  font-family: var(--font-display-var);
  font-weight: var(--font-display-weight);
  font-style: var(--font-display-style);
  font-size: var(--font-size-h1);
  letter-spacing: 0.15em;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  text-indent: .1em;
  line-height: .8em;
}


.titulo#titulo-genero {
  font-size: 19.4vw;
  letter-spacing: 0.1em;
  position: absolute;
  /* bottom: 0; */
  left: 0;
}

.titulo#titulo-clase {
  font-size: 23.7vw;
  letter-spacing: 0.1em;
  position: absolute;
  /* bottom: 0; */
  left: 0;
}

p {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
  margin: 3rem 0;
}

.label p {
  margin: 10rem;
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style-normal);
  font-size: var(--font-size-text);
}
.header p {
  margin: 1em 10rem 10rem 10rem;
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
}
h2.label {
  margin: 6rem 0rem 2.5rem 0rem;
  font-family: var(--font-subtitle-var);
  font-weight: var(--font-subtitle-weight);
  font-style: var(--font-subtitle-style);
  font-size: var(--font-size-body);
}
h2 small {
      display: block;
    font-size: .5em;
}

h2 i {
      font-size: .5em;
    display: block;
}

h3.label {
  font-style: normal;
  font-family: var(--font-subtitle-var);
  font-size: var(--font-size-h2);
  font-weight: var(--font-subtitle-weight);
}

h3.label time {
  color: var(--color-accent);
}

#descriptor {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
  font-size: 2vw;
}

#indice-titulo {
  font-family: var(--font-display-var);
  font-weight: var(--font-display-weight);
  font-style: var(--font-display-style);
  font-size: var(--font-size-ind-t);
  margin-bottom: 1rem;
}

.indice {
  list-style: none;
  padding-left: 0;
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-ind);
}

ul {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-tex-style);
  font-size: var(--font-size-body);
}


li {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
  margin: 1rem 0;
}

#home-p {
  margin: 8rem 0rem 4rem 0rem;
}

summary {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
  margin: 2rem 0rem 2rem 0rem;
}
.date-container {
  /* font-size: .75em; */
  margin-bottom: .5em;
}
time {
  font-weight: 600;
}

summary small {
  display: block;
  font-style: italic;
}

/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
  text-decoration: none;
}


/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/



main {
  width: 70%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}

.subtitulo p {
  font-family: var(--font-subtitle-var);
  font-weight: var(--font-subtitle-weight);
  font-style: var(--font-subtitle-style);
  font-size: var(--font-size-subtitle);
  margin-block-end: 0;
  width: 100%;
}

/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/


footer {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

nav a {
  margin-right: 1rem;
}
